@charset "utf-8";


html,body{
  min-width: 1180px;
}

/*组件css样式*/
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
  background-color: #0778f8;
}

/*首页公共css*/
.section h1{
  font-size: 36px;
}
.section span.title-tip{
  font-size: 18px;
}
.section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.section3{
  padding-top: 140px;
}
.section4,.section5{
  padding-top: 100px;
}
.section2 .title-wrap,
.section4 .title-wrap,
.section5 .title-wrap{
  color: #0778f8;
  text-align: center;
}
.section2 .title-wrap .title,
.section4 .title-wrap .title,
.section5 .title-wrap .title{
  line-height: 63px;
  letter-spacing: 1px;
}
.section3 .title-wrap,
.message .title-wrap{
  text-align: center;
  color: #fff;
}
.title-tip{
  position: relative;
}
.title-tip:after,
.title-tip:before{
  position: absolute;
  top: 13px;
  display: block;
  content: '';
  width: 125px;
  height: 2px;
  background-color: #0778f8;
}
.title-tip:after{
  left: 12px;

}
.title-tip:before{
  right: 12px;
}


/*公共导航 | start*/
.nav{
  width: 100%;
  height: 598px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nav-list{
  text-align: center;
}
.nav-item{
  display: inline-block;
  width: 80px;
  line-height: 122px;
  font-size: 16px;
  color: #fff;
}
.nav-item.active{
  border-top: 3px solid #fff;
}
.nav-logo{
  margin: 0 56px;
}

/*公共导航 | end*/



/*在线留言 | start*/
.message{
  width: 100%;
  text-align: center;
  color: #fff;
}
.message .form-wrap{
  margin-top: 50px;
}
.message input{
  width: 582px;
  height: 50px;
  padding: 0 15px;
  border-radius: 8px;
}
.message .form-desc{
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  resize: none;
  border-radius: 8px;
}
.message .form-btn{
  display: inline-block;
  width: 139px;
  height: 29px;
  margin-top: 16px;
  letter-spacing: 3px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  background: linear-gradient(#f36905,#f45105);
  box-shadow:2px 6px 20px #495a70;
  color: #fff;
}

/*在线留言 | end*/

/*公共标题线条伪类样式 | start*/
.publish-wrap{
  padding: 80px 0;
  background-color: #fff;
}
.publish-wrap .title-wrap{
  margin-bottom: 72px;
  text-align: center;
}
.publish-wrap .title-wrap h1{
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1px;
  color: #303030;
}
.publish-wrap .title-wrap span{
  display: block;
  position: relative;
  color: #999;
}
.publish-wrap .title-wrap span:after,
.publish-wrap .title-wrap span:before{
  position: absolute;
  top: 8px;
  display: block;
  content: "";
  width: 43%;
  height: 1px;
  background-color: #999;
}
.publish-wrap .title-wrap span:before{
  left: 0;
}
.publish-wrap .title-wrap span:after{
  right: 0;
}
/*公共标题线条伪类样式 | end*/


/*公司优势 | start*/
.publish-item{
  float: left;
}
.publish-item .icon{
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 20px auto;
  text-align: center;
}
.publish-item:first-child .icon{
  background: url("../images/icon-1.png") 0 0 no-repeat;
  background-size: cover;
}
.publish-item:nth-child(2) .icon{
  background: url("../images/icon-2.png") 0 0 no-repeat;
  background-size: cover;
}
.publish-item:nth-child(3) .icon{
  background: url("../images/icon-3.png") 0 0 no-repeat;
  background-size: cover;
}
.publish-item:nth-child(4) .icon{
  background: url("../images/icon-4.png") 0 0 no-repeat;
  background-size: cover;
}
.publish-item:nth-child(5) .icon{
  background: url("../images/icon-5.png") 0 0 no-repeat;
  background-size: cover;
}
.publish-item:last-child .icon{
  background: url("../images/icon-6.png") 0 0 no-repeat;
  background-size: cover;
}
.publish-item .desc{
  margin-top: 30px;
  padding: 0 20px
}
.publish-item .desc h3{
  font-size: 24px;
}
.publish-item span{
  line-height: 24px;
}
/*公司优势 | end*/

/*footer | start*/
.footer{
  background-color: #303942;
  padding-top: 100px;
  color: #fff;
}
.footer dl{
  float: left;
}
.footer dt{
  line-height: 50px;
  letter-spacing: 1px;
}
.footer dd{
  line-height: 24px;
  letter-spacing: 1px;
  color: #777777;
}
.footer dl.first{
  width: 277px;
  margin-right: 188px;
}
.footer dl.second{
  width: 147px;
  margin-right: 12px;
}
.footer .more{
  width: 50px;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  background-color: #f45105;
  color: #fff;
}
.footer .code{
  float: left;
  margin-right: 40px;
  text-align: center;
}
.footer .code:last-child{
  margin-right: 0;
}
.footer .code h4{
  margin-bottom: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #fff;
}
.footer .code img{
  display: block;
  width: 113px;
  height: 113px;
  object-fit: cover;
}
.foot-partner{
  margin-top: 90px;
  text-align: center;
  line-height: 60px;
  color: #777;
}
.foot-partner span,
.foot-partner a{
  margin-right: 16px;
}
.footer-copyRight{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  background-color: #222e39;
  color: #777;
}

.publish-footer dd{
  font-size: 12px;
}
.publish-footer .code h4{
  font-size: 14px;
}
.section-footer{
  height: calc(100% - 433px);
}
.section-footer dt{
  font-size: 24px;
}
.section-footer .code h4{
  font-size: 16px;
}
.section-footer .footer-copyRight{
  position: absolute;
  bottom: 0;
  left: 0;
}
/*footer | end*/






























